.filter {
  margin: auto;
  width: 1050px;
}

.filter__type {
  display: flex;
  justify-content: space-between;
}

.filter__status {
  padding: 0;
  width: 300px;
  height: 40px;
  background-color: transparent;
  border: 0px;
  font-size: 60px;
  font-weight: bold;
  margin-right: 30px;
  margin-bottom: 40px;
  color: black;
  cursor: pointer;
}

.filter__status:focus {
  outline: none;
  color: #ffac02;
}

.filter__search {
  margin-bottom: 40px;  
  display: block;
  width: 1000px;
  height: 40px;
  font-size: 18px;  
  border-bottom-color: black;  
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  text-align: center;
}

.filter__search:focus{
  outline: none;
  border-bottom-color: #ffac02;
}

.filter__search::-webkit-input-placeholder {
  font-size: 18px;
  color: rgb(165, 159, 155);
}
